/* app/globals.css */
@import "tailwindcss";

/* tokens básicos (podem ser usados com hsl(var(--...))) */
:root {
  --radius: 12px;

  --background: 210 17% 5%;
  --foreground: 0 0% 98%;

  --card: 210 17% 6%;
  --card-foreground: 0 0% 98%;

  --popover: 210 17% 6%;
  --popover-foreground: 0 0% 98%;

  --primary: 171 100% 40%;
  --primary-foreground: 0 0% 100%;

  --secondary: 14 90% 58%;
  --secondary-foreground: 0 0% 100%;

  --muted: 208 15% 20%;
  --muted-foreground: 206 12% 70%;

  --accent: 208 15% 24%;
  --accent-foreground: 0 0% 96%;

  --destructive: 3 100% 48%;
  --destructive-foreground: 0 0% 100%;

  --success: 111 60% 38%;
  --success-foreground: 0 0% 100%;

  --warning: 46 86% 53%;
  --warning-foreground: 28 13% 16%;

  --info: 207 89% 55%;
  --info-foreground: 0 0% 100%;

  --border: 208 16% 26%;
  --input: 208 16% 26%;
  --ring: 171 100% 46%;
}

/* reset mínimo */
*, ::before, ::after { border-color: hsl(var(--border)); }
html, body { min-height: 100%; }

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: "Inter Tight", system-ui, -apple-system, Segoe UI, Inter, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

:focus-visible {
  outline: 2px solid hsl(var(--ring));
  outline-offset: 2px;
}
